@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}